# Sample Environment Configuration Template
# DO NOT COMMIT REAL SECRETS TO THIS REPOSITORY!
PORT=8080
NODE_ENV=production
ALLOWED_ORIGINS=https://app.tuandevsecops.internal,https://payment.tuandevsecops.internal
